<% stylesheet 'foreman_datacenter/datacenter' %>
<% stylesheet 'foreman_datacenter/device_roles' %>

<% title h(@rack_group.name) %>

<% @racks.in_groups_of(3).each do |g| %>
  <div class="row">
    <% g.compact.each do |rack| %>
      <div class="col-md-4">
        <!-- Devices -->
        <%= render "foreman_datacenter/racks/device_position", rack: rack %>
      </div>
    <% end %>
  </div>
<% end %>
<div><h6 class="text-right"><%= _("* side is not defined") %></h6></div>
<div><h6 class="text-right"><%= _("** size is not defined") %></h6></div>

