<% stylesheet 'foreman_datacenter/datacenter' %>
<% stylesheet 'foreman_datacenter/device_roles' %>
<% stylesheet 'foreman_datacenter/horizontal-scroll' %>

<% title h(@rack_group.name) %>

<div class="row horizontal-scroll">
  <% @racks.each do |rack| %>
    <div class="col-md-4">
      <%= render "foreman_datacenter/racks/device_position", rack: rack %>
    </div>
  <% end %>
</div>

<div><h6 class="text-right"><%= _("* side is not defined") %></h6></div>
<div><h6 class="text-right"><%= _("** size is not defined") %></h6></div>
