<% title 'Power connections' %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>PDU</th>
        <th>Outlet</th>
        <th>Device</th>
        <th>Power port</th>
      </tr>
      </thead>
      <tbody>
      <% @power_ports.each do |port| %>
          <tr>
            <td>
              <%= link_to port.power_outlet.device.name,
                          device_path(port.power_outlet.device) %>
            </td>
            <td><%= h port.power_outlet.name %></td>
            <td><%= link_to port.device.name, device_path(port.device) %></td>
            <td><%= h port.name %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
