<ul class="none-list-child">
  <li>
    <% c.each do |comment, children |%>
      <%= render 'foreman_datacenter/comments/item', comment: comment %>
      <%= render 'foreman_datacenter/comments/children', c: children if children.present? %>
    <% end %>
  </li>
</ul>

