<% stylesheet 'foreman_datacenter/comments' %>

<table class="<%= table_css_classes 'table-hover panel-body' %>">
  <% if comments == [] %>
    <div class="col-md-2">
      <small>No comments yet...</small>
    </div>
  <% else %>
    <tbody>
      <% comments.roots.each do |c| %>
        <tr>
          <td>
            <ul class="none-list">
              <li>
                <%= render 'foreman_datacenter/comments/item', comment: c, commentable_data: commentable_data %>
              </li>
              <% if c.root.descendants != [] %>
                <%= render 'foreman_datacenter/comments/children', c: c.root.descendants.arrange, commentable_data: commentable_data %>
              <% end %>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>

<%= render 'foreman_datacenter/comments/form'%>

