.nonmarginbottom {
  margin-bottom: 0px !important;
}
.nonborder {
  border: 0px !important;
}
.nonbordercolor {
  border-color: transparent !important;
}

/* #content>div:nth-child(4)>div.col-md-9.two-pane-right>div.row>div:nth-child(1)>div>table{margin-bottom: 111px !important;} */
