.nonmarginbottom {
  margin-bottom: 0px !important;
}
.nonborder {
  border-right: 0px !important;
  border-left: 0px !important;
  border-bottom: 0px !important;
}
.nonbordercolor {
  border-color: transparent !important;
}
