span.teal {
  background-color: #06a79f;
}
span.green {
  background-color: #89A54E;
}
span.blue {
  background-color: #3D96AE;
}
span.purple {
  background-color: #D882d8;
}
span.yellow {
  background-color: #ecec61;
}
span.orange {
  background-color: #f37676;
}
span.red {
  background-color: #AA4643;
}
span.lightgray {
  background-color: gray;
}
span.mediumgray {
  background-color: #403e3e;
}
span.darkgray {
  background-color: #171515;
}

