<div class="clearfix">
  <div class="form-group">
    <label class="col-md-2 control-label required">Device</label>
    <div class="col-md-4">
      <%= devices_for_connection_form @devices %>
    </div>
    <span class="help-block help-inline">Then choose a device</span>
  </div>
</div>
