<% title 'Interface connections'  %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Device A</th>
        <th>Interface A</th>
        <th>Device B</th>
        <th>Interface B</th>
      </tr>
      </thead>
      <tbody>
      <% @device_interface_connections.each do |connection| %>
          <tr>
            <td>
              <%= link_to connection.first_device.name,
                            device_path(connection.first_device) %>
            </td>
            <td><%= h connection.first_interface.name %></td>
            <td>
              <%= link_to connection.second_device.name,
                          device_path(connection.second_device) %>
            </td>
            <td><%= h connection.second_interface.name %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
