<div class="clearfix">
  <div class="form-group">
    <label class="col-md-2 control-label required"><%= _("Device") %></label>
    <div class="col-md-4">
      <%= devices_list_for_rack @rack %>
    </div>
    <span class="help-block help-inline"><%= _("Then choose a device") %></span>
  </div>
</div>
